<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277954828042-89umnoktom39cmf47u2bfi86l1g9vosr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277954828042-89umnoktom39cmf47u2bfi86l1g9vosr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>277954828042-imgdoblk7i6p530kalh62og93os00pla.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkr9iTQtaaISSHWfQkkGuJqHh8nt_nelM</string>
	<key>GCM_SENDER_ID</key>
	<string>277954828042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.4all.test</string>
	<key>PROJECT_ID</key>
	<string>marvel-flutter-dx</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-flutter-dx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277954828042:ios:d0f5b373771f86e4074cf3</string>
	<key>DATABASE_URL</key>
	<string>https://marvel-flutter-dx.firebaseio.com</string>
</dict>
</plist>